*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

overflow:hidden;

background:
radial-gradient(
circle at center,
#001515,
#000000
);

color:cyan;

}

/* NEBULA */

body::before{

content:"";

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:

radial-gradient(
circle,
rgba(0,255,255,0.08),
transparent 70%
);

animation:
nebulaMove 12s infinite alternate;

z-index:-4;

}

@keyframes nebulaMove{

0%{
transform:
translate(-40px,-20px)
scale(1);
}

100%{
transform:
translate(40px,20px)
scale(1.2);
}

}

/* CANVAS */

canvas{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

z-index:-5;

}

/* HEADER */

.header{

position:absolute;

top:20px;
left:20px;
right:20px;

display:flex;
justify-content:space-between;
align-items:center;

z-index:100;

}

/* LOGO */

.logo{

font-size:42px;
font-weight:bold;

color:#00ffff;

text-shadow:
0 0 20px cyan,
0 0 40px cyan,
0 0 80px cyan;

animation:
logoPulse 3s infinite;

}

@keyframes logoPulse{

50%{
opacity:0.7;
}

}

/* CLOCK */

#clock{

font-size:18px;

text-shadow:
0 0 20px cyan;

}

/* LEFT PANEL */

.leftpanel{

position:absolute;

left:20px;
top:120px;

width:270px;

display:flex;
flex-direction:column;
gap:20px;

z-index:50;

}

/* HUD BOX */

.hudbox{

background:
rgba(0,0,0,0.35);

border:
1px solid cyan;

border-radius:22px;

padding:20px;

box-shadow:
0 0 25px cyan;

backdrop-filter:
blur(16px);

}

/* TITLES */

.hudbox h2{

margin-bottom:18px;

font-size:20px;

}

/* SYSTEM HUD */

.sysrow{

margin-bottom:18px;

font-size:14px;

}

.sysbar{

width:100%;
height:12px;

background:#021111;

border-radius:20px;

overflow:hidden;

margin-top:6px;

}

#cpuBar,
#ramBar,
#netBar,
#batteryBar{

height:100%;
width:50%;

border-radius:20px;

background:
linear-gradient(
90deg,
cyan,
#00ffaa
);

box-shadow:
0 0 20px cyan;

transition:1s;

}

/* CENTER */

.center{

width:100vw;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

}

/* SOLAR SYSTEM */

.solar{

width:1500px;
height:1500px;

position:relative;

display:flex;
justify-content:center;
align-items:center;

transform:scale(0.78);

filter:
drop-shadow(
0 0 40px cyan
);

}

/* MOBILE */

@media(max-width:900px){

.solar{

transform:scale(0.42);

margin-top:200px;

}

.leftpanel{

display:none;

}

.sidepanel{

width:90%;

right:5%;

}

}

/* HOLOGRAM */

.hologram{

position:absolute;

right:220px;
top:220px;

width:160px;
height:160px;

display:flex;
justify-content:center;
align-items:center;

animation:
floatHolo 4s infinite ease-in-out;

z-index:30;

}

.holoCore{

width:60px;
height:60px;

border-radius:50%;

background:
radial-gradient(
circle,
cyan,
#00aaff,
transparent
);

box-shadow:
0 0 30px cyan,
0 0 60px cyan,
0 0 100px cyan;

animation:
pulseHolo 2s infinite;

}

.holoRing{

position:absolute;

width:120px;
height:120px;

border:
2px solid rgba(0,255,255,0.5);

border-radius:50%;

animation:
spinRing 6s linear infinite;

box-shadow:
0 0 20px cyan;

}

.ring2{

width:150px;
height:150px;

animation-duration:10s;

opacity:0.5;

}

@keyframes floatHolo{

50%{
transform:translateY(-20px);
}

}

@keyframes pulseHolo{

50%{
transform:scale(1.2);
opacity:0.7;
}

}

@keyframes spinRing{

100%{
transform:rotate(360deg);
}

}

/* SUN */

.sun{

width:240px;
height:240px;

border-radius:50%;

background:
radial-gradient(
circle,
#fff6b0,
#ffcc33,
orange,
#ff4400
);

position:absolute;

box-shadow:
0 0 150px orange,
0 0 320px orange,
0 0 500px rgba(255,120,0,0.6);

animation:
pulseSun 4s infinite;

}

@keyframes pulseSun{

50%{
transform:scale(1.08);
}

}

/* RADAR */

.scanring{

position:absolute;

width:320px;
height:320px;

border-radius:50%;

border:
2px solid rgba(0,255,255,0.4);

animation:
scanRotate 5s linear infinite;

box-shadow:
0 0 30px cyan;

}

.scanring::before{

content:"";

position:absolute;

width:50%;
height:2px;

background:cyan;

top:50%;
left:50%;

transform-origin:left;

box-shadow:
0 0 20px cyan;

}

@keyframes scanRotate{

100%{
transform:rotate(360deg);
}

}

/* ORBITS */

.orbit{

position:absolute;

border:
1px solid rgba(0,255,255,0.14);

border-radius:50%;

animation:
spin linear infinite;

box-shadow:
0 0 20px rgba(0,255,255,0.08);

}

@keyframes spin{

100%{
transform:rotate(360deg);
}

}

/* ORBIT SIZES */

.o1{
width:240px;
height:240px;
animation-duration:6s;
}

.o2{
width:360px;
height:360px;
animation-duration:10s;
}

.o3{
width:520px;
height:520px;
animation-duration:14s;
}

.o4{
width:700px;
height:700px;
animation-duration:20s;
}

.o5{
width:920px;
height:920px;
animation-duration:30s;
}

.o6{
width:1180px;
height:1180px;
animation-duration:40s;
}

/* PLANETS */

.planet{

position:absolute;

top:50%;

transform:translateY(-50%);

border-radius:50%;

}

/* PLANETS */

.mercury{
width:14px;
height:14px;
background:#999;
left:115px;
}

.venus{
width:22px;
height:22px;
background:#d29b5c;
left:175px;
}

.earth{
width:36px;
height:36px;

background:
linear-gradient(
45deg,
#00aaff,
#00ffee
);

left:255px;

box-shadow:
0 0 40px cyan,
0 0 80px cyan;

}

.mars{
width:24px;
height:24px;
background:#ff5522;
left:345px;
}

.jupiter{
width:70px;
height:70px;
background:#d6b28a;
left:450px;
}

.saturn{
width:48px;
height:48px;
background:#e2c27a;
left:580px;
position:absolute;
}

.saturnring{

position:absolute;

width:90px;
height:20px;

border:
2px solid rgba(255,255,255,0.5);

border-radius:50%;

transform:
rotate(-20deg);

top:14px;
left:-22px;

}

/* SIDE PANEL */

.sidepanel{

position:absolute;

right:20px;
top:120px;

width:320px;

display:flex;
flex-direction:column;
gap:15px;

z-index:50;

}

/* CONSOLE */

.console{

height:240px;

overflow:auto;

background:
rgba(0,0,0,0.45);

border:
1px solid cyan;

padding:15px;

border-radius:20px;

box-shadow:
0 0 25px cyan;

font-size:14px;

line-height:1.5;

backdrop-filter:
blur(18px);

}

/* INPUT */

input,
button{

width:100%;

padding:15px;

background:black;

color:cyan;

border:
1px solid cyan;

border-radius:15px;

font-size:16px;

outline:none;

}

/* BUTTON */

button:hover{

background:cyan;
color:black;

box-shadow:
0 0 25px cyan;

}

/* WEBCAM */

#webcam{

width:100%;
height:180px;

border-radius:20px;

border:
1px solid cyan;

background:black;

box-shadow:
0 0 25px cyan;

object-fit:cover;

}

/* MUSIC */

.bottompanel{

position:absolute;

bottom:25px;
left:50%;

transform:
translateX(-50%);

display:flex;
gap:10px;

z-index:100;

}

/* MUSIC BARS */

.musicbar{

width:16px;
height:80px;

background:
linear-gradient(
to top,
cyan,
#00ffaa
);

border-radius:20px;

animation:
musicAnim 1s infinite;

box-shadow:
0 0 20px cyan;

}

.musicbar:nth-child(2){
animation-duration:1.4s;
}

.musicbar:nth-child(3){
animation-duration:0.8s;
}

.musicbar:nth-child(4){
animation-duration:1.6s;
}

.musicbar:nth-child(5){
animation-duration:1s;
}

.musicbar:nth-child(6){
animation-duration:1.2s;
}

.musicbar:nth-child(7){
animation-duration:0.7s;
}

@keyframes musicAnim{

50%{
transform:scaleY(0.3);
}

}
